In [1]:
import sys
print(sys.version)

3.8.8 (default, Apr 13 2021, 15:08:03) [MSC v.1916 64 bit (AMD64)]

In [2]:
import findspark
findspark.init()
findspark.find()

'C:\\Spark\\spark-3.1.2-bin-hadoop2.7'

In [3]:
import pyspark
from pyspark import SparkContext
sc = SparkContext()

In [4]:
from pyspark.sql import SparkSession

In [5]:
#from pyspark.sql.functions import rand, randn
from pyspark.sql import SQLContext

In [6]:
spark = SparkSession\
        .builder\
        .appName("PythonWordCount")\
        .getOrCreate()

sqlc = SQLContext(spark.sparkContext)

df = sqlc.range(0, 1000 * 1000).withColumn('uniform', rand(seed=10)).withColumn('normal', randn(seed=27))
        
print('# rows: ', df.count())
df.show()

# rows:  1000000
+---+-------------------+--------------------+
| id|            uniform|              normal|
+---+-------------------+--------------------+
|  0| 0.1709497137955568| -0.8664700627108758|
|  1| 0.8051143958005459| -0.5970491018333267|
|  2| 0.5775925576589018| 0.18267161219540898|
|  3| 0.9476047869880925| -1.8497305679917546|
|  4|    0.2093704977577|  0.9410417279045351|
|  5|0.36664222617947817| -0.6516475674670159|
|  6| 0.8078688178371882|  0.5901002135239671|
|  7| 0.7135143433452461|  -1.850241871360443|
|  8| 0.7195325566306053| 0.09176896733073023|
|  9|0.31335292311175456|-0.38605118617831075|
| 10| 0.8062503712025726|  1.2134544166783332|
| 11|0.10814914646176654| -1.0757702531630617|
| 12| 0.3362232980701172| 0.04961226872064977|
| 13| 0.8133304803837667|  -0.768259602441542|
| 14|0.47649428738170896|  0.2911293146907403|
| 15|  0.524728096293865|-0.33406080411047484|
| 16| 0.9701253460019921|  1.3607097640771781|
| 17| 0.6232167713919952|  0.5986772981082732|
| 18| 0.5089687568245219|-0.35158579838711623|
| 19| 0.5467504094508642| -0.9115825072509143|
+---+-------------------+--------------------+
only showing top 20 rows

In [8]:
# Resumo estatístico com a função describe
df.describe().show()

+-------+-----------------+--------------------+--------------------+
|summary|               id|             uniform|              normal|
+-------+-----------------+--------------------+--------------------+
|  count|          1000000|             1000000|             1000000|
|   mean|         499999.5|  0.4998031998836221|-3.24560750760888...|
| stddev|288675.2789323441|  0.2887586076550508|  0.9995551812392393|
|    min|                0|1.397253057699998...|  -4.949492960499273|
|    max|           999999|  0.9999998822463074|   4.473248168610994|
+-------+-----------------+--------------------+--------------------+

In [9]:
# Informando colunas específicas para o resumo
df.describe('uniform', 'normal').show()

+-------+--------------------+--------------------+
|summary|             uniform|              normal|
+-------+--------------------+--------------------+
|  count|             1000000|             1000000|
|   mean|  0.4998031998836221|-3.24560750760888...|
| stddev|  0.2887586076550508|  0.9995551812392393|
|    min|1.397253057699998...|  -4.949492960499273|
|    max|  0.9999998822463074|   4.473248168610994|
+-------+--------------------+--------------------+

In [10]:
from pyspark.sql.functions import mean, min, max

df.select([mean('uniform'), min('uniform'), max('uniform')]).show()

+------------------+--------------------+------------------+
|      avg(uniform)|        min(uniform)|      max(uniform)|
+------------------+--------------------+------------------+
|0.4998031998836221|1.397253057699998...|0.9999998822463074|
+------------------+--------------------+------------------+

In [15]:
df.corr('uniform', 'normal')

0.0003416687365339235

In [19]:
df.stat.cov('uniform', 'normal')

9.861590291587598e-05

In [ ]:
filename = 'D:\Documentos\IGTI_Bootcamp_Ciencia_de_Dados\Modulo_02\numbers.txt'

spark = SparkSession\
        .builder\
        .appName("Aula Interativa")\
        .master("local[*]")\
        .getOrCreate()

sqlc = SQLContext(spark.sparkContext)

df = sqlc.range(0, 1000 * 1000).withColumn('uniform', rand(seed=10)).withColumn('normal', randn(seed=27))
        
print('# rows: ', df.count())
df.show()

In [6]:
spark = SparkSession\
        .builder\
        .appName("Titanic")\
        .getOrCreate()

In [8]:
titanic_df = spark.read.csv("D:/Documentos/IGTI_Bootcamp_Ciencia_de_Dados/Modulo_02/titanic.csv", header = True, inferSchema = True)

titanic_df.printSchema()

root
 |-- PassengerId: integer (nullable = true)
 |-- Survived: integer (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- SibSp: integer (nullable = true)
 |-- Parch: integer (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)

In [9]:
titanic_df.count()

891

In [10]:
titanic_df.show(10)

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S|
|          6|       0|     3|    Moran, Mr. James|  male|null|    0|    0|          330877| 8.4583| null|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075| null|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| null|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708| null|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 10 rows

In [11]:
titanic_df.select('PassengerId', 'Sex', 'Age').show()

+-----------+------+----+
|PassengerId|   Sex| Age|
+-----------+------+----+
|          1|  male|22.0|
|          2|female|38.0|
|          3|female|26.0|
|          4|female|35.0|
|          5|  male|35.0|
|          6|  male|null|
|          7|  male|54.0|
|          8|  male| 2.0|
|          9|female|27.0|
|         10|female|14.0|
|         11|female| 4.0|
|         12|female|58.0|
|         13|  male|20.0|
|         14|  male|39.0|
|         15|female|14.0|
|         16|female|55.0|
|         17|  male| 2.0|
|         18|  male|null|
|         19|female|31.0|
|         20|female|null|
+-----------+------+----+
only showing top 20 rows

In [12]:
titanic_df.groupBy('Survived').count().show()

+--------+-----+
|Survived|count|
+--------+-----+
|       1|  342|
|       0|  549|
+--------+-----+

In [13]:
titanic_df.groupBy('Embarked').count().show()

+--------+-----+
|Embarked|count|
+--------+-----+
|       Q|   77|
|    null|    2|
|       C|  168|
|       S|  644|
+--------+-----+

In [14]:
titanic_df = titanic_df.na.fill({'Embarked': 'S'})

In [15]:
titanic_df.groupBy('Embarked').count().show()

+--------+-----+
|Embarked|count|
+--------+-----+
|       Q|   77|
|       C|  168|
|       S|  646|
+--------+-----+